<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GroupProject.Properties.Settings>
            <setting name="BrowseSelect" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;</value>
            </setting>
            <setting name="Cart_Product_id" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="CustomerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteOrderid" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="DeleteHistory" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Customer_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Customer_bonus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Customer_total" serializeAs="String">
                <value>0</value>
            </setting>
        </GroupProject.Properties.Settings>
    </userSettings>
</configuration>